{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class="mb-4">비밀번호 변경</h1>
  <form action="{% url 'accounts:change_password' %}" method="POST">
    {% csrf_token %}
    
    {% bootstrap_form form %} 
    
    <div class="d-grid gap-2">
        <button type="submit" class="btn btn-warning mt-3">비밀번호 변경 완료</button>
    </div>
  </form>
  
  <div class="mt-3">
    <a href="{% url 'accounts:update' %}" class="btn btn-sm btn-outline-secondary">회원정보 수정으로 돌아가기</a>
  </div>
{% endblock content %}